#logo,
#navigator,
#menubar,
#sidebar,
#personal { display: none; }

#content {
	background-color: #fff;
	color: #000;
	font-size: 11pt;
}

ul { 
	list-style-type: square;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: bold;
}

p {
	margin: 1em 0;
	line-height: 1.2em;
}

pre {
	border: 1pt dashed black;
	white-space: pre;
	font-size: 9pt;
	overflow: auto;
	padding: 1em;
}

a {
	color: #000;
	background: none;
	padding: 0;
	text-decoration: underline;
}

a.note_super {
	vertical-align: super;
}

a.external:after {
	content: " (" attr(href) ") ";
}

img.ext {
	display: none;
}

.noexists a {
	display: none;
}

img { border: none; }

div.ie5 { text-align: center; }

.style_table,
.style_th,
.style_td {
	border: 1px solid #000;
	border-collapse: collapse;
}

.style_table { margin: auto; }

td.style_td {
	text-align: left;
}

.small {
	font-size: 80%;
}

span.size1 {
	font-size: xx-small;
	line-height: 130%;
	text-indent: 0px;
	display: inline;
}
span.size2 {
	font-size: x-small;
	line-height: 130%;
	text-indent: 0px;
	display: inline;
}
span.size3 {
	font-size: small;
	line-height: 130%;
	text-indent: 0px;
	display: inline;
}
span.size4 {
	font-size: medium;
	line-height: 130%;
	text-indent: 0px;
	display: inline;
}
span.size5 {
	font-size: large;
	line-height: 130%;
	text-indent: 0px;
	display: inline;
}
span.size6 {
	font-size: x-large;
	line-height: 130%;
	text-indent: 0px;
	display: inline;
}
span.size7 {
	font-size: xx-large;
	line-height: 130%;
	text-indent: 0px;
	display: inline;
}

.clear {
	margin: 0px;
	clear: both;
}

.editsection { display: none; }

.img_margin { margin: 0.5em 1.4em 0.8em; }

.navi, .navi_none, .navi_left, li.navi_right {
	display: none;
}

.toc {
	border :1px solid #aaaaaa;
	background-color: #f9f9f9;
	padding: 5px;
}

#footer {
	border-top: 1px solid #000;
}

#footer img,
#footer li {
	display: none;
}

#footer li#lastmod {
	display: list-item;
	font-size: 11pt;
	text-align: left;
}

.anchor_super { display: none; }

.editsection { display: none; }
